.DS_store
guitar-videos/
photo-albums/
generated/
generated-test/
venv/
photo-albums.db
photo-albums-test.db
test-photo-albums.db
config.py
__pycache__
test-data-source/
test-data/
.firebase