html {
    font-family: sans-serif;
}

body {
    padding: 1em;
}

nav {
    margin-top: 1em;
}

header {
    padding-bottom: 2em;
}

h2 {
    font-weight: normal;
}

.nav-link {
    text-decoration: none;
    color: #434648;
    font-size: 1.125em;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}

.post-list {
    padding-left: 0;
    list-style: none;
}

.page-heading {
    font-size: 1.9em;
    font-weight: normal;
    color: #0d122b;
}

.page-subheading {
    font-size: 1.4em;
    font-weight: normal;
    color: #0d122b;
    margin-top: 2em;
}

.center {
    text-align: center;
}

.title {
    background-color: #B0C4DE;
    color: black;
    box-shadow: 6px 6px 0px black;
    display: inline-block;
    padding: 0em 2em;
}

.home-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

.main-container {
    max-width: 680px;
    margin: auto;
    color: #434648;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
    max-width: 80ch;
}

.introduction-wrapper > div{
    width: 225px;
}

.bottom-padding-2 {
    padding-bottom: 2em;
}

.post-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

@media screen and (min-width: 480px) {
.post-item {
    flex-direction: row;
    align-items: center;
}
}

.post-item:not(:first-child) {
    border-top: 1px solid #ececec; 
  }

.post-item-title {
    font-weight: normal;
}

.post-item a {
    text-decoration: none;
    color: #434648;
}
  
.post-item a:hover,
.post-item a:focus {
    color: black; 
    text-decoration: underline;
}

.meta-info {
    color: #6b7886;
}

.blog-content {
    padding-top: 0.5em;
}

.blog-content p {
    line-height: 1.8;
}

.blog-content img {
    width: 100%;
    display: block;
    margin: auto;
}

@media screen and (min-width: 480px) {
.blog-content img {
    width: 80%;
}
}

.blog-content figure {
    margin: 0;
    margin-bottom: 1em;
    width: 100%;
}

.blog-content figcaption {
    line-height: 2;
    text-align: center;
}


