*,
*:before,
*:after {
  box-sizing: border-box;
}

h1, h2, h3, h3, h5, h6, ul, li, p, figure {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    padding: 1em;
}

video {
    padding-bottom: 48px
}

/* common classes */

.page-heading {
    font-size: 1.9em;
    font-weight: normal;
    color: #0d122b;
}

.meta-info {
    color: #6b7886;
}

.main-container {
    max-width: 680px;
    margin: auto;
    color: #434648;
}

/* header */

.title {
    background-color: #B0C4DE;
    color: black;
    box-shadow: 6px 6px 0px black;
    display: inline-block;
    padding: 0.5em 1em;
}

.nav-link {
    text-decoration: none;
    color: #434648;
    font-size: 1.125em;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
}

/* home page */

.home-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: auto;
    display: block;
}

/* posts page */

.post-list {
    list-style: none;
}

.post-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1em 0;
}

@media screen and (min-width: 480px) {
.post-item {
    flex-direction: row;
    align-items: center;
}
}

.post-item:first-child {
    padding-top: 0;
}

.post-item:not(:first-child) {
    border-top: 1px solid #ececec; 
    }

.post-item-title {
    font-weight: normal;
}

.post-item a {
    text-decoration: none;
    color: #434648;
}
    
.post-item a:hover,
.post-item a:focus {
    color: black; 
    text-decoration: underline;
}

/* blog post */

.page-subheading {
    font-size: 1.4em;
    font-weight: normal;
    color: #0d122b;
    padding-bottom: 1em;
}

.content {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 1em;
    max-width: 80ch;
}

.blog-content {
    padding-top: 0.5em;
}

.blog-content > p {
    line-height: 1.8;
    padding-bottom: 1em;
}

.blog-photo {
    width: 100%;
    display: block;
    margin: auto;
}

@media screen and (min-width: 480px) {
.blog-photo {
    width: 80%;
    display: block;
    margin: auto;
}
}

.blog-content figure {
    padding-bottom: 1em;
}

.blog-content figcaption {
    line-height: 2;
    text-align: left;
}

/* guitar page */

.video-title {
    font-size: 1.4em;
    font-weight: normal;
    color: #0d122b;
}

/* photo albums */
@media screen and (min-width: 480px) {
.album-photo {
    max-height: 90vh;
    max-width: 100%;
    width: auto;
}
}

.album-photo {
    max-height: 90vh; /* 100% of the viewport height */
    /* width: auto; */
    object-fit: contain; /* Ensure image fits within the max-height without distortion */
    display: block; /* Prevent images from being inline */
    margin: 0 auto; /* Center the image horizontally */
    max-width: 100%;
}

/* utility classes */

.top-padding-1 {
    padding-top: 1em;
}

.bottom-padding-05 {
    padding-bottom: 0.5em;
}

.bottom-padding-025 {
    padding-bottom: 0.25em;
}

.bottom-padding-1 {
    padding-bottom: 1em;
}

.bottom-padding-15 {
    padding-bottom: 1.5em;
}

.bottom-padding-2 {
    padding-bottom: 2em;
}

.center {
    text-align: center;
}
