{% extends "base.html" %}

{% block content %}
    <div class="main-container">
        <h1 class="page-heading bottom-padding-1">Guitar Videos</h1>

        <h2 class="video-title bottom-padding-025">Interlude 2 - alt-J</h2>
        <p class="meta-info bottom-padding-05">March 5, 2023</p>
        <video width="100%" controls preload="none" webkit-playsinline playsinline poster="/images/guitar/interlude2.png">
            <source src="https://tor1.digitaloceanspaces.com/braedonmcdonaldguitarvideos/interlude2.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <h2 class="video-title bottom-padding-025">Scarborough fair</h2>
        <p class="meta-info bottom-padding-05">December 12, 2022</p>
        <video width="100%" controls preload="none" webkit-playsinline playsinline poster="/images/guitar/scarborough.png">
            <source src="https://tor1.digitaloceanspaces.com/braedonmcdonaldguitarvideos/scarborough.mov" type="video/mp4">
            Your browser does not support the video tag.
        </video>

        <h2 class="video-title bottom-padding-025">Mimi - Sylvain Lemay</h2>
        <p class="meta-info bottom-padding-05">October 9, 2022</p>
        <video width="100%" controls preload="none" webkit-playsinline playsinline poster="/images/guitar/mimi.png">
            <source src="https://tor1.digitaloceanspaces.com/braedonmcdonaldguitarvideos/Mimi.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
{% endblock content %}
