{% extends "base.html" %}

{% block content %}
    <div class="main-container">
        <img src="/images/me.jpg" class="home-picture" />
        <p class="center top-padding-1 bottom-padding-2">Hello! This is my website for projects and pictures.</p>
        <img class="home-picture" src="/images/home.png"/>
        <p class="center top-padding-1 bottom-padding-1">I live in Chelsea Quebec, Canada.</p>
        <p class="center">You can reach me at <a href="mailto:braedonmcdonald1@gmail.com">braedonmcdonald1@gmail.com</a>.</p>
    </div>
{% endblock content %}